.navbar {
    background-color: red;
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 80px;
    margin-bottom: 20px;
    max-height: 120px;
    font-size: 22px;
}

.nav-item{
    color: whitesmoke;
    margin: 20px 0px 0px 40px;
}